<!DOCTYPE html>
<html>
<head>
  <title>Vue - if 1</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <p v-if="visible">Этот абзац виден, потому что потому visible = true</p>
    
    <p v-if="!visible">Этот абзац виден, потому что потому visible = false</p>
    
    <p>Текущее значение visible: {{ visible }}</p>
    <button @click="visible = !visible">Переключить visible</button>
  </div>

  <script>
    const { createApp } = Vue;
    
    const app = createApp({
      data() {
        return {
          visible: true
        }
      }
    }).mount('#app');
  </script>
</body>
</html>