<!DOCTYPE html>
<html>
<head>
  <title>Vue - If 3</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <!-- Кнопки для переключения абзацев -->
    <button @click="toggle(1)">Абзац 1: {{ visible1 ? 'Скрыть' : 'Показать' }}</button>
    <button @click="toggle(2)">Абзац 2: {{ visible2 ? 'Скрыть' : 'Показать' }}</button>
    <button @click="toggle(3)">Абзац 3: {{ visible3 ? 'Скрыть' : 'Показать' }}</button>
    
    <!-- Абзацы с условным отображением -->
    <p v-if="visible1">1 виден</p>
    <p v-if="visible2">2 виден</p>
    <p v-if="visible3">3 виден</p>
  </div>

  <script>
    const { createApp } = Vue;
    
    const app = createApp({
      data() {
        return {
          visible1: false,
          visible2: false,
          visible3: false
        }
      },
      methods: {
        toggle(paragraph) {
          switch(paragraph) {
            case 1: 
              this.visible1 = !this.visible1;
              break;
            case 2: 
              this.visible2 = !this.visible2;
              break;
            case 3: 
              this.visible3 = !this.visible3;
              break;
          }
        }
      }
    }).mount('#app');
  </script>
</body>
</html>